.body {
  padding: 1rem;
}
.card {
  font-size: 0.3rem;
  padding: 0.1rem 0;
  .content {
    padding: 0.2rem;
  }
}
.header {
  font-size: 1.5rem;
  height: 3rem;
}
.icon {
  font-size: 2rem;
  // color: #1677ff;
}