.all {
  display: flex;
  align-items: center;
  background-color: #fff;
  padding: 0.5rem 0.2rem;
  width: 95vw;
}
.icon {
  font-size: 1rem;
}
.nickname {
  font-size: 0.2rem;
}
.item-icon {
  font-size: 0.3rem;
  display: flex;
  align-items: center;
  .img {
    width: 0.4rem;
  }
}
.item {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
}
.avatar {
  width: 0.7rem;
  height: 0.7rem;
  border-radius: 5px;
  background-color: #eaa659;
  margin: 0 0.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  .font {
    font-size: 0.4rem;
    color: #efefef;
  }
}
